.phonebook {
  height: 100vh;
  display: block;
  text-align: start;
  align-items: center;
  font-size: 16px;
  padding-left: 40px;

  background-color: rgb(212, 206, 206);
}

.title {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
